.form {
  padding: 79px 137px 96px 97px;
  border-radius: 20px;
  background-color: $cl-silver-alt;
}

.form__title {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.form__row {
  display: flex;
  gap: 31px;
  margin-bottom: 37px;

  &:last-of-type {
    margin-bottom: 47px;
  }
}

.form__col {
  flex-grow: 1;
  width: 100%;
}

.form__col--shrink {
  flex-grow: 0;
  width: auto;
}

.form__col--md {
  max-width: 222px;
}

.form__label {
  display: block;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  .form {
    padding: 41px 20px;
  }
}

@media (max-width: 742px) {
  .form__row {
    flex-direction: column;
  }

  .form__col {
    max-width: unset;
  }

  .form__col--shrink {
    display: flex;
    align-items: center;

    .form__label {
      margin-right: 89px;
      margin-bottom: 0;
    }
  }
}

@include mobile {
  .form__footer {
    display: flex;
    justify-content: center;
  }

  .form__row {
    margin-bottom: 22px;
  }

  .form__title {
    margin-bottom: 38px;
    font-size: 32px;
    text-align: center;
  }
}
