.form {
  padding: 79px 137px 96px 97px;
  border-radius: 20px;
  background-color: $cl-silver-alt;

  @include mobile {
    padding: 41px 32px;
    border-radius: 0;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  @include mobile {
    margin-bottom: 38px;
    font-size: 32px;
    text-align: center;
  }
}

.form__row {
  display: flex;
  gap: 31px;
  margin-bottom: 37px;

  &:last-of-type {
    margin-bottom: 47px;
  }
}

.form__col {
  flex-grow: 1;
  width: 100%;
}

.form__col--shrink {
  flex-grow: 0;
  width: auto;
}

.form__col--md {
  max-width: 222px;
}

.form__label {
  display: block;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
