.input-password {
  // -
}

.input-password__btn {
  padding: 0;
  border: 0;
  background: none;
  color: $cl-placeholder;
  opacity: 100%;
  pointer-events: all;
  transition: color 0.1s, opacity 0.1s;

  svg {
    width: 20px;
    height: 18px;
  }

  &:hover {
    color: $cl-black;
  }

  &:active {
    opacity: 60%;
  }
}

.input-password__icon-hide {
  display: none;
}

.input-password._show {
  .input-password__icon-hide {
    display: block;
  }

  .input-password__icon-show {
    display: none;
  }
}
