.input-select {
  [type = "radio"] {
    display: none;
  }
}

.input-select__field {
  height: 56px;
  cursor: pointer;

  &:hover {
    color: $cl-primary;
  }

  &:active {
    color: rgba($cl-primary, 0.6);
  }
}

.input-select__icon {
  top: 18px;
  color: $cl-primary;
  opacity: 100%;
}

.input-select__option-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  max-height: 274px;
  border: 1px solid $cl-stroke;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $cl-white;
  scrollbar-width: thin;
  scrollbar-color: $cl-primary $cl-white;

  &::-webkit-scrollbar {
    width: 13px;
  }

  &::-webkit-scrollbar-track {
    background-color: $cl-white;
  }

  &::-webkit-scrollbar-thumb {
    border: 7px solid $cl-white;
    border-right: 5px solid $cl-white;
    border-left: 5px solid $cl-white;
    border-radius: 20px;
    background-color: $cl-primary;
  }
}

.input-select__option-item {
  padding: 16px 16px 15px 16px;
  border-bottom: 1px solid $cl-stroke;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  user-select: none;
  transition: color 0.1s;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    color: $cl-primary;
  }

  &:active {
    color: rgba($cl-primary, 0.6);
  }
}

.input-select__option-item--selected {
  display: none;
}

.input-select._open {
  .input-select__icon {
    transform: rotate(180deg);
  }

  .input-select__field {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-select__option-list {
    display: flex;
  }
}
