*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include gilroy-regular;

  background-color: $cl-silver;
  color: $cl-black;
  font-size: 20px;
  line-height: 1.6em;

  @include mobile {
    background-color: $cl-white;
    font-size: 16px;
  }
}

button:not(:disabled) {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $padding-desktop;

  @include mobile {
    padding: 0 $padding-mobile;
  }
}

.container--gallery {
}
