// Common
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Fonts
@mixin gilroy-regular {
  font-weight: 400;
  font-family: $gilroy;
}

@mixin gilroy-medium {
  font-weight: 500;
  font-family: $gilroy;
}

@mixin gilroy-semibold {
  font-weight: 600;
  font-family: $gilroy;
}

@mixin gilroy-bold {
  font-weight: 700;
  font-family: $gilroy;
}

// Adaptive
@mixin mobile {
  @media (max-width: $br-mobile) {
    @content;
  }
}
